* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}


.navmargin {
    margin-top: 6rem;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.card-header {
    padding: .5rem;
}

.mistab,
.strat {
    background: rgba(0, 0, 0, .2);
    border-radius: .4rem;
}

.tab {
    text-align: center;
    padding: .6rem;
}

.tab i {
    font-size: 2.5rem;
    color: #F79321;
}

.strat {
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.strat ol {
    list-style-type: inherit;
}

.value {
    background: #F79321;
    padding: .8rem;
    border-radius: .4rem;
    margin-top: 0.2rem;
    width: inherit;
}

.mission {
    position: relative;
    margin: auto;
}

.feed {
    padding: .5rem;
    height: 90vh;
}

.feed.feed1 {
    height: 200px;
}

.feed.card,
.contact.card {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 7px;
}

a h6 {
    font-size: 0.8rem;
}

.car {
    position: relative;
    margin: auto;
}

.car img {
    height: auto;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .maintxt {
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.2rem;
}

.maintxt p {
    line-height: normal !important;
}

.act {
    margin-top: 2rem;
}

.bc1 {
    background: rgb(226, 225, 225);
}

.bc2 {
    background: rgb(243, 241, 241);
}

.partner h3,
.members h3,
.act h3,
.feed h3 {
    text-align: center;
    font-size: 1.4rem;
    padding: .5rem;
    color: #F79321;
}

.feed .contact {
    overflow-x: auto;
}

.partner {
    position: relative;
    padding: 1rem;
    margin: auto;
    text-align: center;
}

.partner .contact {
    position: relative;
    padding-top: 1rem;
    margin: auto;
    width: 80%;
}

.partner .card {
    margin-top: 1.4rem;
}

.tweet .twitter-timeline {
    width: 100%;
}

/* Navigation bar design */
.navbar .navbar-nav .nav-link {
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0 2rem;
}

.navbar-collapse {
    width: 100%;
    background: #F79321;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ABFF00;
    text-decoration: underline;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5rem 1rem;
}

.navbar img {
    height: 70px;
    width: 80px;
}

.navbar .nav-item {
    font-size: 1rem;
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus {
    color: green;
}

.wrbod {
    padding-top: 7rem;
}

.work {
    width: 80%;
    position: relative;
    margin: auto;
}

.work img {
    width: 100%;
}

.txt {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.wrbod {
    padding: 1rem;
}

.card {
    margin-top: 1rem;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:after {
    order: -1;
    margin-left: 0;
    margin-right: 0.5em;
}

.backg {
    background-color: green;
    padding: 0.2rem;
    text-align: right;
}

.backg a {
    margin-right: 1rem;
    color: white;
}

.btn-nav-accordion[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(90deg);
}

.foctxt {
    text-align: center;
}

.foctxt p {
    margin-top: 4rem;
    color: white;
}

.foctxt h3 {
    color: white;
    line-height: 2rem;
    font-size: 2.2rem;
}

.foctxt h5 {
    color: #ABFF00;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 480;
    margin-top: 2rem;
}

.foctxt img,
.wetxt img {
    height: .2rem;
    margin-top: 2rem;
}

.focus1 {
    background: rgba(256, 256, 256, .85);
    width: 60%;
    position: relative;
    margin: auto;
    padding: 4rem;
    border-radius: 1.4rem;
}

.focus1 h3 {
    margin-top: 1rem;
}

.focus2 {
    position: relative;
    margin: auto;
    padding: 2rem;
}

.focus2 .vistxt h3 {
    color: green;
}

.vistxt p {
    font-weight: 500;
}

.vistxt h3 {
    color: #F79321;
    margin-top: 2rem;
}

.vistxt {
    text-align: center;
    color: #4A4A4A;
}

.vistxt i {
    font-size: 1.4rem;
}

.wetxt {
    float: right;
    color: white;
    text-align: left;
    align-items: center;
    margin-top: 6rem;
    width: 35%;
}

.txt1 {
    float: left;
    margin-left: 6rem;
}

.wear {
    width: 100%;
}

.focu1 {
    padding: 1rem;
}

.work p {
    color: white;
}

.westxt {
    text-align: center;
    color: #646464;
    width: 30%;
}

.bgh h5 {
    text-align: center;
    background: #F79321;
    padding: 0.5rem;
    margin: 0;
    color: white;
}

.work1 {
    float: left;
}

.worktxt {
    color: white;
    text-align: left;
    align-items: center;
    width: 85%;
    position: relative;
    margin: auto;
}

.worktxt h3 {
    margin-top: 1rem;
    color: #296700;
}

.worktxt .grat img {
    align-items: center;
    /* position: relative; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.lower {
    /* margin-top: 2rem; */
    text-align: center;
    padding: 1rem;
    min-width: 100%;
    align-items: center;
    color: white;
    background: #F79321;
    /* background: white; */
    /* margin-bottom: 1rem; */
}

.lower h3 {
    color: #296700;
}

.experience {
    /* background: #005b97; */
    padding: 1rem;
}

.lower p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.expt {
    width: 75vw;
    position: relative;
    margin: auto;
}

.card iframe {
    height: 280px;
    object-fit: cover;
}


.borderless table {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}


/* slider section design for members */
.members {
    margin-top: 2rem;
}

.members img {
    min-height: 80px;
    max-height: 120px;
    width: auto;
}

@media (max-width: 650px) {
    .members img {
        height: 50px;
    }
}

/* styling for the logos and slider */
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    height: 150px;
    align-items: center;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100px;
    overflow: hidden;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    max-height: 100%;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    /* height: auto; */
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


// events gallery on homepage
.photos .col-md-4 .event img {
    max-width: 100%;
}

.photos .img-fluid {
    border-radius: .2rem;
}
